<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaUI.Properties.Settings.ferreteriaConnectionString"
            connectionString="Data Source=DESKTOP-USSDBAG\SQLEXPRESS01;Initial Catalog=ferreteria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceProveedorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProveedorSoap1" />
                <binding name="WebServiceProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProductoSoap1" />
                <binding name="WebServiceStockSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceStockSoap1" />
                <binding name="WebServiceClienteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceClienteSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44376/WebServiceProveedor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProveedorSoap"
                contract="ServiceProveedor.WebServiceProveedorSoap" name="WebServiceProveedorSoap" />
            <endpoint address="https://localhost:44376/WebServiceProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProductoSoap"
                contract="ServiceProducto.WebServiceProductoSoap" name="WebServiceProductoSoap" />
            <endpoint address="https://localhost:44376/WebServiceStock.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceStockSoap"
                contract="ServiceStock.WebServiceStockSoap" name="WebServiceStockSoap" />
            <endpoint address="https://localhost:44376/WebServiceCliente.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceClienteSoap"
                contract="ServiceCliente.WebServiceClienteSoap" name="WebServiceClienteSoap" />
        </client>
    </system.serviceModel>
</configuration>